.product {
  cursor: pointer;
  
  .product__img-wrap { 
    border-radius: 5px;
    overflow: hidden;
  }
  .product__img {
    display: block;
    width: 100%;
    transform: scale(1);
    transition: transform ease 0.2s;

    &:hover{
      transform: scale(1.15);
      transition: transform ease 0.2s;
    }
  }
  .product__text-wrap {
    padding: 8px 5px;
    display: flex;
    flex-direction: column;
    text-align: left;

    .product__text--brand {
      font-size: 11px;
      margin : 0;
      padding: 0;
      color: #969696;
    }
    .product__text--title {
      font-size: 12px;
      margin : 0;
      padding: 0;
    }
  }
  
}