.App {
    text-align: center;
}

.jumbotron {
    margin-top: 0px;
    text-align: center;
    background-image: url('../src/img/coco로고.jpg');   
    background-size: cover;
    background-position: center right;  
    color: white;
    max-height: 350px ;
    padding: 5% 5% ;
}


.wait {
    background: #eeeeee;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width:100%;
    margin: auto;
}

.product {
    text-align: center;
    
}



.top-navigation {   
    border-bottom: 1px solid #ededed;  
  
    box-sizing: border-box;
}

.bottom-navigation{    
    border-bottom: 1px solid #ededed;
    font-size: 13px;
    
    box-sizing: border-box;
}

.nav-menu {
    text-align: left;    
}



@media (min-width: 768px) {
    
  

}