.App {
    text-align: center;
}

.jumbotron {
    margin-top: 0px;
    text-align: center;
    background-image: url('../src/img/coco로고.jpg');   
    background-size: cover;
    background-position: center right;  
    color: white;
}


.wait {
    background: #eeeeee;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width:100%;
    margin: auto;
}

.product {
    text-align: center;
    
}

.header {
    box-sizing: border-box;
}

.top-navigation {   
    border-bottom: 1px solid #ededed;  
    height: 70px;
    margin: 0 auto;
    padding : 0 10% ;  
}

.bottom-navigation{    
    border-bottom: 1px solid #ededed;
    font-size: 13px;
    margin: 0 auto;
    padding : 0 10% ;    
    max-height : 50px;
}

.nav-menu {
    text-align: left;    
}

@media (min-width: 768px) {
    
}