.App {
    text-align: center;
}

.jumbotron {
    margin-top: 0px;
    text-align: center;
    background-image: url('../src/img/coco로고.jpg');   
    background-size: cover;
    background-position: center right;  
    color: white;   
    padding: 3% 5% ;

    h1{
        font-weight: bold;
    }
}

.wait {
    background: #eeeeee;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width:100%;
    margin: auto;
}

.product {
    text-align: center;
}

.nav__hamburger{
    display: none;
}

.top-navbar__brand{
    font-weight: 600;
}

.nav-top {
    font-size: 15px;
    font-weight: 600;
   
}



@media (max-width: 768px) {
  
    .nav__hamburger{
        display: initial;
        width: 30px;
        height: 30px;
        margin-left: 10px;
        cursor: pointer;
    }
    .top-navbar__brand{
        margin : 0 auto;
    }
    .nav-top{
        display:none;
    }
   

    .jumbotron {
        padding: 5% 5% ;
        .event-inner{
            display: none;
        }

        h1 {
            font-size: 25px;
            margin-bottom: 20px;
        }
    }
}


@media (max-width: 576px) {
    .top-navbar__brand{
        margin : 0 auto 0 ;
    }
}