.App {
    text-align: center;
}

.jumbotron {
    margin-top: 0px;
    text-align: center;
    background-image: url('../src/img/coco로고.jpg');   
    background-size: cover;
    background-position: center right;  
    color: white;
}
.card {
    text-align: center;
}

.wait {
    background: #eeeeee;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width:100%;
    margin: auto;
}

.header {
    box-sizing: border-box;
}

.top-navbar {   
    border-bottom: 1px solid #ededed;  
}

.bottom-navbar{    
    border-bottom: 1px solid #ededed;
    font-size: 13px;    
}

.nav-menu a {
    margin-left: 20px;
}