.App {
    text-align: center;
}

.jumbotron {
    margin-top: 0px;
    text-align: center;
    background-image: url('../src/img/coco로고.jpg');   
    background-size: cover;
    background-position: center right;  
    color: white;
    max-height: 350px ;
    padding: 5% 5% ;
}


.wait {
    background: #eeeeee;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width:100%;
    margin: auto;
}

.product {
    text-align: center;
}

.nav__hamburger{
    display: none;
}


@media (max-width: 768px) {
    #yammy{
        display:none;
    }
    #top-nav__brand{
        margin : 0 auto;
    }
    .nav__hamburger{
        display:initial;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
}
