.bottom-navbar--wrap {
  position: relative;
  top: 0px;
  z-index: 998;
  transition: top ease 0.15s;

  #bottom-navbar {
    height: 50px;
    background: white;
    border-bottom: solid 1px #eeeeee;

    #bottom-navbar__container {
      padding: 0;
      margin-top: 0;
    }

    #bottom-navbar__nav {
      font-size: 15px;
      font-weight: 600;

      a {
        color: rgb(83, 83, 83);
        position: relative;
        margin: 0 2px;
      }
      a:hover {
        color: rgb(89, 203, 248);
      }
      .active {
        color: rgb(89, 203, 248);
        background: none;
      }
      .active::after {
        content: '';
        display: block;
        height: 2px;
        background-color: rgb(89, 203, 248);
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin: 3px;
      }
    }
  }
}
