@import './_reset';
@import './_fonts';
@import './_Detail';
@import './_Product';
@import './_TopNav';
@import './_BottomNav';
@import './_MainPage';
@import './_TopBannerAds';
@import './_Footer';
@import './_SignIn';
@import './_SignUp';
@import './_Thanks';



.App {
  text-align: center;
  font-family: 'Spoqa Han Sans Neo';
  height: auto;
  
  .container {
    max-width: 1140px;
    width: calc(100% - 80px);
    margin-top: 30px;
  }
}

.header {
  height: auto;
  position: sticky;
  top: 0px;
  z-index: 555;
}

// #================= md ===================#
@media (max-width: 768px) {
 
}
// #================= md 끝 ===================#

@media (max-width: 576px) {

}
