@import './fonts.scss' ;


.App {
    text-align: center;
    font-family: "Spoqa Han Sans Neo";
    height: 100%;
    .container  {
        max-width : 1140px; 
        width : calc(100% - 80px);       
    }

}



.top-banner{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #eeeeee;
    background :  rgb(70, 198, 248);
    cursor: pointer;
    
    p {      
        font-size : 17px;
        font-weight: 600;
        color: rgb(255, 255, 255);  
        letter-spacing: 1px;
        word-spacing: 2px;
        padding-top: 15px ;
    }

    .top-banner__inner-hidden{
        display: none;
    }
}
.top-banner:hover{
    background : skyblue;
}

.btn-close-top-banner{
    margin :  10px 10px 0 0 ;
    float: right;
}
.btn-close-top-banner:hover{
    background-color: rgb(111, 170, 194);    
}



.wait {
    background: #eeeeee;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.header{    
    height: auto;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0px;
    z-index: 555;
}
.top-navbar--wrap{
    position: relative;
    z-index: 999;

    #top-navbar{
        height: 80px;
        background :white;
        border-bottom: solid 1px #eeeeee; 

    
        #top-navbar__brand{
            img{
                width: 135px;
                margin-right: 22px;
            }
        }
    
        #top-navbar__nav {
            font-size: 20px;
            font-weight: 600;
            a{    
                color: rgb(83, 83, 83);
                margin-right: 15px;
            }
            a:hover {
                color: rgb(89, 203, 248); 
            }  
            .active{
                color: rgb(89, 203, 248);    
                background: none;
            }
        }
    }
}
.top-navbar__hamburger{
    display: none;
}

.bottom-navbar--wrap{
    position: relative;
    top: 0px;
    z-index: 998;
    transition: top ease 0.15s;

    #bottom-navbar {
        height: 50px;
        background :white;
        border-bottom: solid 1px #eeeeee;  
        
    
        #bottom-navbar__container{
            padding: 0;
        }
    
        #bottom-navbar__nav{
            font-size: 15px;
            font-weight: 600;
        
            a{    
                color: rgb(83, 83, 83);       
                position: relative;  
                margin: 0 2px  ;      
            }
            a:hover {
                color: rgb(89, 203, 248);
                }
            .active{
                color: rgb(89, 203, 248);
                background: none;
            }
            .active::after{
                content: "";
                display: block;        
                height: 2px;   
                background-color: rgb(89, 203, 248);
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                margin : 3px
            }   
        }
    }
    
}


.home-header {
    margin-top :30px
}

.main-content{    
    border-radius: 7px; 
    overflow: hidden;
    position: relative; 
    display: block;
    z-index: 1;
}

.main-content::after{
    content: "";
    position: absolute;
    z-index: 1;
    top: auto;
    left: 0;    
    right: 0;
    bottom: 0;   
    height: 200px;
    background: linear-gradient(180deg,transparent,rgba(0, 0, 0, 0.8));
    pointer-events: none;
}


.main-content__img-wrap{
    position: relative;
    z-index: 1;    
    transform: scale(1.0); 
    transition: transform ease 0.2s;
}
.main-content__img-wrap:hover{  
    transform: scale(1.08) ;
    transition: transform ease 0.15s;
}

.main-content__img-wrap::before{
    content: "";
    display: block;
    padding-bottom: calc(100% / 4*3)
}

.main-content__img{
    border-radius: 7px; 
    width: 100%;
    position: absolute;
    top: 50%;   
    left: 50%;
    transform: translate(-50%,-50%);   
}



.main-content__text-wrap{ 
    z-index: 2; 
    display: flex; 
    align-items:flex-end;   
    position: absolute;
    text-align: left;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;    
    padding: 40px;
    pointer-events: none;
    
    .main-content__text{         
        flex : 1 1 auto;
        z-index: 1;
        
    }
    .main-content__text-01{
        color: white;
        font-size: 15px;
        font-weight: 500;
        word-spacing: 1px;
        display:block;
        
    }
    .main-content__text-02{
        color: white;
        font-size: 30px;
        font-weight: 600;
        word-spacing: 1px;
        display:block;
    }
    
    .main-content__text-03{
        color: white;
        font-size: 12px;
        font-weight: 500;
        word-spacing: 1px;
        display:block;
    }
    .main-content__text-more{
        display:block; 

        text-align: center;   
        color: white;   
        font-size: 15px;    
        font-weight: 500;        
        word-spacing: 1px;
        
        width: 140px;
        border-radius: 5px;
        border : solid 1px white;              
        padding: 18px 0 17px 0;
        margin-left: 15px;
        z-index: 999;
        transition: background, color ease 0.2s ;  
    }
    
}



.right-carousel{   

    img {          
        width: 100%; 
        border-radius: 7px;
        transform: scale(1.0);
        transition: transform ease 0.3s;        
    }
    img:hover {    
        transform: scale(1.1);     
        transition: transform ease 0.3s;
    }
    .carousel-inner{
        position: relative;
        border-radius: 7px;
        z-index: 1;  
    }
    .carousel-item {
        transition: transform ease-in-out 0.5s;
    }   
}

.mini{
    position: relative;
    margin-top: 12px;   
    border-radius: 7px;
    width: 100%;
    overflow: hidden;
    bottom: 0; 
}
.mini-banner__img-wrap::before{
    content: "";
    display: block;
    padding-bottom: calc(100%/16*9);
}
.mini-banner__img-wrap{
    position: relative;
    transform: scale(1.0);
    transition: transform ease 0.2s
}
.mini-banner__img-wrap:hover{
    transform: scale(1.08);
    transition: transform ease 0.15s;
}

.mini-banner__img{
    position: absolute;    
    left: 0;
    top: auto;
    bottom: 0;
    width: 100%;
    border-radius: 7px;

}


.product {
    cursor: pointer;
	.product__img-wrap{
		border : solid 1px #eeeeee;
		// box-shadow: 1px 1px 2px rgb(212, 212, 212);
		border-radius: 5px;
		background: #cecece;
	}
  .product__img{		
		display: block;	
		width: 100%;
  }
	.product__text-wrap{
		display: flex;
		flex-direction: column;
		text-align: left;
	}
  .product__text--title{
		font-size: 12px;
	}
}



.footer{        
    background-color: #fafafa;

    .footer-inner{   
        padding : 30px 0px;  
    
        .footer-inner__top{
            display: flex;
            align-items: flex-end;    
            justify-content: space-between;
    
            .footer-inner__top-customer{
                text-align: left;
    
                .footer-inner__top-customer-01{
                    font-size: 13px;
                    font-weight: 600;
                }
                .footer-inner__top-customer-02{
                    font-size: 30px;
                    font-weight: 600;
                    line-height: 1.3;
                }
                .footer-inner__top-customer-03{
                    font-size: 13px;
                    color : rgb(133, 133, 133);
                }
            }
    
            .footer-inner__top-instar{
                
                text-align: center;
                margin-right: 3% ;                
                .footer-inner__top-instar-01{
                    font-size: 13px;
                    letter-spacing: 1px;
                    color : rgb(133, 133, 133);
                }
                a{
                    text-decoration: none;                        
                }
                img{    
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                }
                span{
                    font-size: 15px;
                    color : rgb(133, 133, 133);
                }
            }
        }

        .footer-inner__mid{
            display: flex;
            justify-content: space-between;
            padding-top: 10px;
            a{
                text-decoration: none;
                font-size: 11px;
                color : rgb(80, 80, 80);
            }
            a:hover{
                color:black;
            }
            li{
                padding: 0px 10px 0 0;
            }          
        }

        .footer-inner__bottom{
            font-size: 11px;
            text-align: left; 
            padding: 15px 0px 3px 0px;
            li{
                padding: 0 8px 0 0;
                text-decoration: none;
                font-size: 11px;
                color : rgb(133, 133, 133);
            }
        }

        .footer-inner__woori{
            text-align: left;
            color : rgb(133, 133, 133);            
            .footer-inner__woori-01{
                font-size: 11px;
            }            
        }

        .footer-inner__copyright{
            text-align: left;
            font-size: 10px;
            margin-top: 15px;
        }
    }
}






// #================= md ===================#
@media (max-width: 768px) {
    .top-banner{
        height: 50px;       
        padding-left: 15px;

        .top-banner__inner {
            display:none;
        }
        .top-banner__inner-hidden{
            display: inline-block;            
            margin: 0;
            font-size : 15px;           
            letter-spacing: 0px;
            word-spacing: 1px;
            padding-top:  15px ;
        }
    }

    .btn-close-top-banner{
        margin : 3px 3px 0 0;
    
    }

    .top-navbar__hamburger{
        display: initial;
        width: 30px;
        height: 30px;
        margin-left: 10px;
        cursor: pointer;
    }

    #top-navbar__brand{
        margin : 0 auto;
    }

    #top-navbar__nav{
        display:none;
    }

    #top-navbar__container{
        padding-left: 0;
        padding-right:25px;
    }

    #hidden-menu{
        width: 70%;
    }


}
// #================= md ÎÅù ===================#


@media (max-width: 576px) {
    #top-navbar__brand{
        margin : 0 auto ;
    }
}